<%- include('partials/navbar'); %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/stylesheets/mystyle.css" rel="stylesheet">
 
  </head>
  <body>

  <div class="body">
        
    <div class="hero-section">
        <div class="details">
            <h1><%= title %></h1>
            <p>ANDERSON MILL STORE MOVED TO INSIDE ASIA MARKET <br>
                (8650 SPICEWOOD SPRINGS #115 78759)</p>
        </div>
        <div class="hero-img2"><img src="images/bg2.png" alt=""></div>
    </div>

  <div class="m-heading text-center">Sweet Section</div>
    <div class="menu">

        <div class="m-conatiner flex">

            <h1>Cup Cakes</h1>
            <div class="menu-1">
                <div class="flex">
                    <div>
                        <img src="images/menu_1.jpg" alt="">
                    </div>
                    <div class="info">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, illum!</p>
                        <h2>Price:2$</h2>
                    </div>
                </div>
                <div class="flex">
                    <div><img src="images/menu_2.jpg" alt=""> </div>
                    <div class="info">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, illum!</p>
                        <h2>Price:2$</h2>
                    </div>
                </div>
            </div>
            <h1>Top Drinks</h1>
            <div class="menu-1">
                <div class="flex">
                    <div>
                        <img src="images/menu_3.jpg" alt="">
                    </div>
                    <div class="info">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, illum!</p>
                        <h2>Price:2$</h2>
                    </div>
                </div>
                <div class="flex">
                    <div><img src="images/menu_4.jpg" alt=""> </div>
                    <div class="info">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, illum!</p>
                        <h2>Price:2$</h2>
                    </div>
                </div>
            </div>
            <h1>Deserts</h1>
            <div class="menu-1">
                <div class="flex">
                    <div>
                        <img src="images/menu_5 (1).jpg" alt="">
                    </div>
                    <div class="info">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, illum!</p>
                        <h2>Price:2$</h2>
                    </div>
                </div>
                <div class="flex">
                    <div><img src="images/menu_6.jpg" alt=""> </div>
                    <div class="info">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, illum!</p>
                        <h2>Price:2$</h2>
                    </div>
                </div>
            </div>

        </div>
        <a class="btn btn3" href="/menu">Veiw Full Menu</a>
    </div>

    <h1 class="section-heading text-center">Booking</h1>
    <div class="booking">

        <h1>Book a Table Now</h1>
        <a class="mybtn">Book Now</a>

    </div> 
  </body>
</html>
<%- include('partials/footer'); %>
