<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="footer">
        <img src="images/chef.png" alt="" class="f-img">
        <p class="text-center">20, floor, Queenslad Victoria Building. 60 california street california USA <br>
            <span>hello@dawat.com</span>
            <br>+88 000 0000 1111
        </p>
    

        <div class="bottom">


            <div>
                <p>© 2017 Dawat <span>Restaurant</span> All Right Reserved.</p>
            </div>

        </div>
    </div>

</div>
</body>
</html>