<%- include('../partials/navbar'); %>
<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
  <form action="" method="POST" class="contactform">  
    <h1 class ="contact-heading">Login Here</h1>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input type="text" class="form-control" placeholder="email" aria-label="email" aria-describedby="basic-addon1" name="email">
      </div>
    
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">password</span>
        <input type="text" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1" name="password">
      </div>
 
      <button type="submit" class=" loginbtn">Login</button>
</form>
</body>
</html>
<%- include('../partials/footer'); %>